<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="FiTestHarness.php"
         strict="true">
    <testsuites>
    <!--
      <testsuite name="Core">
          <file>Tests/Core/FormItClassTest.php</file>
      </testsuite>-->
      <testsuite name="Cases">
          <file>Tests/Cases/Basic/SingleFieldTest.php</file>
          <file>Tests/Cases/Basic/PreHookTest.php</file>
          <file>Tests/Cases/Basic/PostHookTest.php</file>
      </testsuite>
    </testsuites>
</phpunit>