.required:before {
    content: "* ";
    color: red;
}

.button-holder {
    padding: 15px 0 0 156px;
}
.button-holder span{
    margin-right: 15px;
}

.alert {
    padding: 10px !important;
    margin: 5px 0;
    border: 1px solid transparent;
}
.alert.danger {
    background: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
}